asgiref
attrs
dj-database-url
Django
django-cors-headers
djangorestframework
drf-spectacular
drf-yasg
gunicorn
inflection
jsonschema
jsonschema-specifications
packaging
pillow
psycopg2-binary
pytz
PyYAML
referencing
rpds-py
sqlparse
typing_extensions
uritemplate
